/*------------------------------------------------------- Samples--------------------------------------------------------------------- */
div.a {
    font-size: 30px;
}

div.b {
    font-size: large;
}

div.c {
    font-size: 150%;
}

/*------------------------------------------------------- Amend--------------------------------------------------------------------- */

div.d {
    font-size: 13px;
}

div.d {
    font-style: italic;
}

div.d {
    font-weight: bold;
}

/*------------------------------------------------------- Report-A-Test--------------------------------------------------------------------- */

div.RAT-Bold {
    font-weight: bold;
}

div.RAT-Bold {
    font-size: 18px;
}
